<section>
    <h1 class="text-main my-2 text-center">forget password</h1>
@if (step==1) {
    <form [formGroup]="forgetPassword" (ngSubmit)="forgetPass()">

        <div>
            <label for="email">Email:</label>
            <input formControlName="email"  class="form-control" id="email" type="email">
            @if ((forgetPassword.get('email')?.touched ||forgetPassword.get('email')?.dirty) && forgetPassword.get('email')?.errors)
            {
            <div class="alert alert-danger w-50 my-0">
                @if (forgetPassword.get('email')?.getError('required')) {
                    <p> email is required</p>
                }
                @else if (forgetPassword.get('email')?.getError('email')) {
                    <p>enter a valid email</p>
                }
            </div>
        }
        </div>
        <button [disabled]="forgetPassword.invalid" class="btn-main  m-3">verify Email</button>
    </form>
}


@else if (step==2) {
    <form [formGroup]="resetCode" (ngSubmit)="verifyCode()">

        <div>
            <label for="resetCode">Reset Code</label>
            <input formControlName="resetCode"  class="form-control" id="resetCode" type="text">
            @if ((resetCode.get('resetCode')?.touched ||resetCode.get('resetCode')?.dirty) && resetCode.get('resetCode')?.errors)
            {
            <div class="alert alert-danger w-50">
                @if (resetCode.get('resetCode')?.getError('required')) {
                    <p > resetCode is required</p>}
                    @else if (resetCode.get('resetCode')?.getError('pattern')) {
                        <p>enter a valid resetCode</p>
                    }
                </div>
            }
        </div>
        <button [disabled]="resetCode.invalid" class="btn-main  m-3">verify Email</button>
    </form>
}




@else if (step==3) {
    <form [formGroup]=" resetPassword" (ngSubmit)="putNewPassword()">

        <div>
            <label for="email">Email:</label>
            <input formControlName="email"  class="form-control" id="email" type="email">
            @if ((resetPassword.get('email')?.touched ||resetPassword.get('email')?.dirty) && resetPassword.get('email')?.errors)
            {
            <div class="alert alert-danger w-50 my-0">
                @if (resetPassword.get('email')?.getError('required')) {
                    <p> email is required</p>
                }
                @else if (resetPassword.get('email')?.getError('email')) {
                    <p>enter a valid email</p>
                }
            </div>
        }
        </div>
        <div>
            <label for="newPassword">NEWPASSWORD:</label>
          <input formControlName="newPassword"  class="form-control" id="newPassword" type="password">
          @if ((resetPassword.get('newPassword')?.touched ||resetPassword.get('newPassword')?.dirty) && resetPassword.get('newPassword')?.errors){
          <div class="alert alert-danger w-50">
            @if (resetPassword.get('newPassword')?.getError('required')) {
                <p > password is required</p>}
                @else if (resetPassword.get('newPassword')?.getError('pattern')) {
                    <p>enter a valid password</p>
                }
                 
            </div>
        }
        </div>
       
        <button [disabled]="resetPassword.invalid" class="btn-main  m-3">verify Email</button>
    </form>
}
</section>